body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: burlywood;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px 20px;
}

.session-button button{
    width: 50px;
    padding: 5px;
    background-color: white;
    border: none;
    margin: 10px;
    border-radius: 10px;
}

.session-timer {
  border: 1px solid black;
  width: 100%;
  height: 200px;
  border-radius: 10px;
}